*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.main_container{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.main_header{

    width: 100%;
    height: 10vh;
    border: 1px solid green;
}
.logo_container{

}
.main_body{
    width: 100%;
    height: 90vh;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}

.left_container{
    width: 50%;
    height: 90vh;
    border: 1px solid green;
}
.rigth_container{
    width: 50%;
    height: 90vh;
    border: 1px solid green;
}